<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848971535867-54s4b77h4q4bsfqs7aspf5s4lsn5tcqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848971535867-54s4b77h4q4bsfqs7aspf5s4lsn5tcqt</string>
	<key>API_KEY</key>
	<string>AIzaSyAeuYageGxRxrL8JpBrQ9gGdP_bZijuo2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>848971535867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amanjaiswal.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>minitwitter-d6771</string>
	<key>STORAGE_BUCKET</key>
	<string>minitwitter-d6771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848971535867:ios:a5750d00801c4429a4e75e</string>
	<key>DATABASE_URL</key>
	<string>https://minitwitter-d6771.firebaseio.com</string>
</dict>
</plist>